
@using App.Components


<body>
    <div class="sidebar">
        <div class="side-bar">
            <div class="menu">
                <div class="item">
                    <a class="sub-btn ">
                        DANH MỤC SẢN PHẨM
                        <i class="fa-solid fa-bicycle dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Trẻ Em</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Địa Hình</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Đường Phố</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Phụ Nữ</label>
                    </div>
                </div>


            </div>

        </div>
        <div class="side-bar">
            <div class="menu">
                <div class="item">
                    <a class="sub-btn ">
                        KHUYẾN MÃI
                        <i class="fa-solid fa-bicycle dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <label><input type="checkbox" class="sub-item">Giờ Vàng Giá Sốc</label>
                        <label><input type="checkbox" class="sub-item">Giảm Giá Cao Nhất</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Trẻ Em Sale</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Địa Hình Sale</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Đường Phố Sale</label>
                        <label><input type="checkbox" class="sub-item"> Xe Đạp Phụ Nữ Sale</label>
                    </div>
                </div>


            </div>

        </div>
        <div class="side-bar">
            <div class="menu">
                <div class="item">
                    <a class="sub-btn ">
                        THƯƠNG HIỆU
                        <i class="fa-solid fa-bicycle dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <label><input type="checkbox" class="sub-item"> HonDa</label>
                        <label><input type="checkbox" class="sub-item"> LuKaKu</label>
                        <label><input type="checkbox" class="sub-item"> VinFom</label>
                        <label><input type="checkbox" class="sub-item"> NaLu</label>
                    </div>

                </div>


            </div>

        </div>
        <div class="side-bar">
            <div class="menu">
                <div class="item">
                    <a class="sub-btn ">
                        NĂM SẢN XUẤT
                        <i class="fa-solid fa-bicycle dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <label><input type="checkbox" class="sub-item"> 1999</label>
                        <label><input type="checkbox" class="sub-item"> 2000</label>
                        <label><input type="checkbox" class="sub-item"> 2015</label>
                        <label><input type="checkbox" class="sub-item"> 2020</label>
                    </div>
                </div>


            </div>

        </div>
        <div class="side-bar">
            <div class="menu">
                <div class="item">
                    <a class="sub-btn ">
                        SIZE XE
                        <i class="fa-solid fa-bicycle dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <label><input type="checkbox" class="sub-item"> M</label>
                        <label><input type="checkbox" class="sub-item"> XS</label>
                        <label><input type="checkbox" class="sub-item"> XXS</label>
                        <label><input type="checkbox" class="sub-item"> M/L</label>
                        <label><input type="checkbox" class="sub-item"> L</label>
                    </div>
                </div>


            </div>

        </div>
        <div class="side-bar">
            <div class="menu">
                <div class="item">
                    <a class="sub-btn ">
                        GIÁ
                        <i class="fa-solid fa-bicycle dropdown"></i>
                    </a>
                    <div class="sub-menu">
                        <label><input type="checkbox" class="sub-item">Dưới 1.000.000</label>
                        <label><input type="checkbox" class="sub-item">1.000.000 VND - 2.999.999 VND</label>
                        <label><input type="checkbox" class="sub-item">3.000.000 VND - 4.999.999 VND</label>
                        <label><input type="checkbox" class="sub-item">5.000.000 VND - 6.999.999 VND</label>
                        <label><input type="checkbox" class="sub-item">7.000.000 VND - 9.999.999 VND</label>
                        <label><input type="checkbox" class="sub-item">Trên 10.00.000 VND</label>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Sử dụng delegation để gắn sự kiện cho các phần tử động
            $('.sidebar').on('click', '.sub-btn', function () {
                // Chuyển đổi hiển thị menu con với hiệu ứng slideToggle
                $(this).next('.sub-menu').stop(true, true).slideToggle(300);
                // Thay đổi biểu tượng
                $(this).find('.dropdown').toggleClass('fa-bicycle fa-person-biking');
            });
        });
    </script>
    <script src="~/js/productsider.js" asp-append-version="true"></script>
</body>