@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<div style="padding-top: 20px;" class="grid">
    <h1>@ViewData["Title"].</h1>
    <p>
        Kiểm tra email để lấy lại mật khẩu.
    </p>
</div>
