@{
    ViewData["Title"] = "Address Shop";
}
@using App.Components


<body>
    <div style="padding-top: 100px;" class="grid">
        <div style="padding-top: 20px;" class="address">
            <h5>
                <span style="font-size: 130%;">
                    LIÊN HỆ HỆ THỐNG CỬA HÀNG KINGCYCLE.VN
                </span>
            </h5>
            <p style="padding-bottom: 25px;"><strong>Trụ sở: BonBon</strong></p>
            <div class="address-inner">
                <div class="address-container">
                    <div class="address-column">
                        <ul>
                            <li><a href="#">
                                    <i class="fa-solid fa-location-dot"></i>
                                    100 Hải Thượng Lãn Ông, P.10, Quận 5, TP.HCM</a>
                            </li>
                            <li><a href="#">
                                    <i class="fa-solid fa-phone"></i>
                                    0352222222</a>
                            </li>
                            <li><a href="#">
                                    <i class="fa-regular fa-envelope"></i>
                                    info@kingcycle.vn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="address-column">
                        <ul>
                            <li><a href="#">
                                    <i class="fa-solid fa-earth-americas"></i>
                                    kingcycle.vn</a>
                            </li>
                            <li><a href="#">
                                    <i class="fa-brands fa-facebook"></i>
                                    https://www.facebook.com/kingcyclevn</a>
                            </li>
                            <li><a href="#">
                                    <i class="fa-solid fa-z"></i>
                                    kingcyclevn</a>
                            </li>
                            <li><a href="#">
                                    <i class="fa-solid fa-mobile"></i>

                                    Hotline Tư Vấn: 1800.94.73 | 0911.944.966
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="address-column">
                        <h6>LIÊN HỆ NGAY VỚI CHÚNG TÔI</h6>

                        <img src="/images/img/kingcyclevn.png" alt="">
                        <h6>QUÉT MÃ QR ZALO OFFICICAL</h6>

                    </div>


                </div>

                <p class="kingcycle-description">Trang web <a asp-area="" asp-controller="Home" asp-action="Index"
                        target="_blank">kingcycle.vn</a> là nơi tuyệt vời để khám phá và mua sắm các sản phẩm liên quan
                    đến xe đạp. Với một loạt các sản phẩm chất lượng từ các thương hiệu uy tín, kingcycle.vn mang đến
                    cho bạn trải nghiệm mua sắm trực tuyến tuyệt vời, đảm bảo sự hài lòng và tiện lợi.</p>
                <p class="kingcycle-description">Riêng ở thành phố phố Hồ Chí Minh, KINGCYCLE.VN đã phủ sóng cửa hàng
                    rộng khắp các quận như: cửa hàng xe đạp quận 4, quận 10, quận 12, Bình Thạnh… Khách hàng có thể liên
                    hệ với của hàng xe đạp gần nhất để được chiêm ngưỡng và chạy thử. Dưới đây là danh sách địa chỉ các
                    cửa hàng xe đạp trên toàn quốc.</p>
                <h5 style="padding-top: 20PX;">HÌNH ẢNH CHI NHÁNH CỬA HÀNG</h5>
                <img style="height: 150px; width: 150px;" src="/images/img/HTLO-01.jpg" alt="">
                <img style="height: 150px; width: 150px;" src="/images/img/xedap_vinhomes_q9-1.jpg" alt="">
                <img style="height: 150px; width: 150px;" src="/images/img/mo-cua-hang-xe-dap-2.jpg" alt="">
            </div>

        </div>
    </div>
</body>