@using App.Components

@{
    ViewData["Title"] = "KINGCYCLE";
    List<Category> categories = ViewBag.categories as List<Category>;
    List<Brand> brands = ViewBag.brands as List<Brand>;
    List<Product> productsBaby = ViewBag.productsBaby as List<Product>;
}

@section Popup {
    @{
        @await Component.InvokeAsync(CategorySideBar.COMPONENTNAME,
            new CategorySideBar.CategorySideBarData()
{
    level = 0,
    Categories = ViewBag.categories,
    slugCategory = ViewBag.categoryslug,
    brands = ViewBag.brands,
    slugBrand = ViewBag.brandslug
})
    }
}

<style>
    .mol-01 {
        padding: 15px;
    }

    .collect-more_product {
        text-align: center;
        padding-top: 50px;
    }
</style>


<body>

    <div style="  background-color: #1b6ec2;;" class="sliders">
        <div class="slider">
            <div class="list">
                <div class="item">
                    <img src="/images/img/banner/BANNER-COVER-ZALO-CT-Tong-CTKM-T4_Banner-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/Banner-Sua-xe-tai-nha-01-1-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/banner-xe-duong-pho-fix-2023-copy-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/BANNER-COVER-ZALO-CT-Tong-CTKM-T4_Banner-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/banner-xe-tre-em-fix-2023-copy-scaled.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button id="prev">
                    < </button>
                        <button id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div style="padding-top: 50px;" id="wrapper">
        <div class="grid">
            <div class="product_main">
                <!--bo suu tap xe dap-->
                <div class="collect">
                    <h1 class="bosuutap">
                        <span>
                            BỘ SƯU TẬP XE ĐẠP 2025
                        </span>
                    </h1>
                    <div class="pox-1">
                        <div class="tst-sale">
                            <div class="fom">
                                <a style="text-decoration: none;" href="" class="text-center">
                                    <div class="product-top">
                                        <img src="/images/img/mauxe01_blu.jpg" alt="" class="card-img-top">

                                    </div>
                                    <div class="product-info">
                                        <h5>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </h5>
                                        <h6>
                                            <span style="text-decoration: line-through;">3.190.000VND</span>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </h6>

                                    </div>
                                    <div class="inside top-right">
                                        <div class="icon">
                                            50%
                                        </div>
                                    </div>
                                    <div class="button-wrapper">
                                        <button class="btn-fill">Mua Ngay</button>
                                    </div>
                                    <!--
                        <div class="inside top-left">
                            <div class="icon">
                                <i class="material-icons">info_outline</i>
                            </div>
                        </div>
                        <div class="inside bottom-right">
                        </div>
                        <div class="inside bottom-left">
                        </div>
                        -->
                                </a>
                            </div>

                        </div>
                        <div class="tst-sale">
                            <div class="fom">
                                <a style="text-decoration: none;" href="" class="text-center">
                                    <div class="product-top">
                                        <img src="../assets/img/mauxe01_blu.jpg" alt="" class="card-img-top">

                                    </div>
                                    <div class="product-info">
                                        <h5>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </h5>
                                        <h6>
                                            <span style="text-decoration: line-through;">3.190.000VND</span>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </h6>

                                    </div>
                                    <div class="inside top-right">
                                        <div class="icon">
                                            HOT
                                        </div>
                                    </div>
                                    <div class="button-wrapper">
                                        <button class="btn-fill">Mua Ngay</button>
                                    </div>
                                    <!--
                        <div class="inside top-left">
                            <div class="icon">
                                <i class="material-icons">info_outline</i>
                            </div>
                        </div>
                        <div class="inside bottom-right">
                        </div>
                        <div class="inside bottom-left">
                        </div>
                        -->
                                </a>
                            </div>

                        </div>

                        <div class="tst-sale">
                            <div class="fom">
                                <a style="text-decoration: none;" href="" class="text-center">
                                    <div class="product-top">
                                        <img src="../assets/img/mauxe01_blu.jpg" alt="" class="card-img-top">

                                    </div>
                                    <div class="product-info">
                                        <h5>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </h5>
                                        <h6>
                                            <span style="text-decoration: line-through;">3.190.000VND</span>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </h6>

                                    </div>
                                    <div class="inside top-right">
                                        <div class="icon">
                                            NEW
                                        </div>
                                    </div>
                                    <div class="button-wrapper">
                                        <button class="btn-fill">Mua Ngay</button>
                                    </div>
                                    <!--
                        <div class="inside top-left">
                            <div class="icon">
                                <i class="material-icons">info_outline</i>
                            </div>
                        </div>
                        <div class="inside bottom-right">
                        </div>
                        <div class="inside bottom-left">
                        </div>
                        -->
                                </a>
                            </div>

                        </div>
                        <div class="tst-sale">
                            <div class="fom">
                                <a style="text-decoration: none;" href="" class="text-center">
                                    <div class="product-top">
                                        <img src="../assets/img/mauxe01_blu.jpg" alt="" class="card-img-top">

                                    </div>
                                    <div class="product-info">
                                        <h5>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </h5>
                                        <h6>
                                            <span style="text-decoration: line-through;">3.190.000VND</span>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </h6>

                                    </div>
                                    <div class="inside top-right">
                                        <div class="icon">
                                            sale
                                        </div>
                                    </div>
                                    <div class="button-wrapper">
                                        <button class="btn-fill">Mua Ngay</button>
                                    </div>
                                    <!--
                        <div class="inside top-left">
                            <div class="icon">
                                <i class="material-icons">info_outline</i>
                            </div>
                        </div>
                        <div class="inside bottom-right">
                        </div>
                        <div class="inside bottom-left">
                        </div>
                        -->
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="collect-more_product">
                    <a href="" class="button-more_product">
                        <span>Xem Thêm</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
                <!-- xe dap tre em -->
                <div class="onr"></div>
                <div class="xedaptreem">
                    <div class="headline">
                        <a href="">XE ĐẠP TRẺ EM</a>
                    </div>
                    <div class="prod-1">
                        <div class="prod-1_1">
                            <div class="product-top">
                                <a href="" class="BH">
                                    <img src="/images/img/mauxedap/xedaptreem.png" alt="">
                                </a>
                            </div>
                            <div class="product-info">
                                <a class="product-name">
                                    <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                </a>
                                <div class="product-price"><strong>2.290.000 VND</strong></div>

                            </div>
                        </div>
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsBaby)
                                {
                                    <div style=" " class="item">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                <a href="" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price"><strong>@(product.DiscountPrice.HasValue ?
                                                    product.DiscountPrice.Value.ToString("C") :
                                                    product.Price.ToString("C"))</strong></div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--xe dap dia hinh-->
        <div class="collect-more_product">
            <a a asp-area="Home" asp-controller="ProductView" asp-action="Product"
                asp-route-categoryslug="xe-dap-tre-em-0" class=" button-more_product">
                <span>Xem Thêm</span>
                <i class="fa-solid fa-caret-down"></i>
            </a>
        </div>

        <div class="section-title-center" style="padding-top: 50px;">
            <h3 class="section-title">
                <b></b>
                <span>HỆ THỐNG CỬA HÀNG</span>
                <b></b>
            </h3>
        </div>

        <div class="xedapdua">

            <ul class="products products-cty">
                <li class="product-item product-item-Cty">
                    <div class="product-top">
                        <a href="content_address.html" class="product-thumb">
                            <img src="../assets/img/HTLO-01.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a style="color: black; font-weight: 700; font-size: 16px;" href="" class="product-name">Nguyễn
                            Cơ Thạch</a>
                        <span>Shop B1-00.05, 72 Nguyễn Cơ Thạch, P. An Lợi Đông, TP. Thủ Đức, TP. Hồ Chí
                            Minh</span>
                        <br>
                        <span>SĐT: 1800 9473</span>
                        <br>
                        <span>
                            Giờ mở cửa: 8 AM – 9 PM (Thứ 2 – Chủ Nhật)
                        </span>
                    </div>
                </li>
                <li class="product-item product-item-Cty">
                    <div class="product-top">
                        <a href="content_address.html" class="product-thumb">
                            <img src="../assets/img/HTLO-01.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a style="color: black; font-weight: 700; font-size: 16px;" href="" class="product-name">Nguyễn
                            Cơ Thạch</a>
                        <span>Shop B1-00.05, 72 Nguyễn Cơ Thạch, P. An Lợi Đông, TP. Thủ Đức, TP. Hồ Chí
                            Minh</span>
                        <br>
                        <span>SĐT: 1800 9473</span>
                        <br>
                        <span>
                            Giờ mở cửa: 8 AM – 9 PM (Thứ 2 – Chủ Nhật)
                        </span>
                    </div>
                </li>
                <li class="product-item product-item-Cty">
                    <div class="product-top">
                        <a href="content_address.html" class="product-thumb">
                            <img src="../assets/img/HTLO-01.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a style="color: black; font-weight: 700; font-size: 16px;" href="" class="product-name">Nguyễn
                            Cơ Thạch</a>
                        <span>Shop B1-00.05, 72 Nguyễn Cơ Thạch, P. An Lợi Đông, TP. Thủ Đức, TP. Hồ Chí
                            Minh</span>
                        <br>
                        <span>SĐT: 1800 9473</span>
                        <br>
                        <span>
                            Giờ mở cửa: 8 AM – 9 PM (Thứ 2 – Chủ Nhật)
                        </span>
                    </div>
                </li>
            </ul>
            <div style="padding-bottom: 20%;" class="collect-more_product">
                <a href="" class="button-more_product">
                    <span>Xem Thêm Hệ Thống Cửa Hàng</span>
                </a>
            </div>
        </div>
    </div>
    </div>

    </div>
    <script src="~/js/slider.js" asp-append-version="true"></script>
    <script src="~/js/slider_product.js" asp-append-version="true"></script>

</body>