@{
    ViewData["Title"] = "Privacy Policy";
}
@using App.Components

@{

    List<Category> categories = ViewBag.category as List<Category>;
    List<Brand> brands = ViewBag.brands as List<Brand>;
}

@section Popup {

    @await Component.InvokeAsync("App.Components.CategorySideBar",
        new CategorySideBar.CategorySideBarData()
{
    level = 0,
    Categories = ViewBag.categories,
    slugCategory = ViewBag.categoryslug,
    brands = ViewBag.brands,
    slugBrand = ViewBag.brandslug
})
}

<body>
    <div class="content_main_bicycle">
        <div class="grid">
            <div class="is-large">
                <nav class="woocommerce-breadcrumb breadcrumbs">
                    <a href="content_main.html">Home</a>
                    <span class="divider">/</span>
                    <a href="home_shop.html">Shop</a>
                    <span class="divider">/</span>
                    <a href="home_shop_bicycle.html">Xe Đạp</a>
                </nav>
            </div>

            <div class="bicycle_main">
                <div class="slide_bar">
                    <div class="slider_bicycle">
                        <div class="list">
                            <div class="item">
                                <img src="/images/img/xedapmau1/xedapmau1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="/images/img/xedapmau1/xedapmau1-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="/images/img/xedapmau1/xedapmau1-3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="/images/img/xedapmau1/xedapmau1-4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="/images/img/xedapmau1/xedapmau1-5.jpg" alt="">
                            </div>
                        </div>
                        <div class="buttons">
                            <button id="prev">
                                < </button>
                                    <button id="next">
                                        >
                                    </button>
                        </div>
                        <ul class="dots">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <!--Thông Tin Bicycle-->

                <div class="address_bicycle">
                    <h1>Xe Đạp Đường Phố Touring VINBIKE Eva – Bánh 26 Inches</h1>

                    <div class="price">2.190.000 <span>VND</span></div>
                    <div class="variations">
                        <div id="color-bicycle">
                            <div class="color">
                                <label for="">Màu sắc</label>
                            </div>

                        </div>
                        <div id="color-bicycle">
                            <div class="color">
                                <label for="">Màu sắc</label>
                            </div>

                        </div>
                    </div>

                    <div class="address_product">
                        <div class="product_meta">
                            <span class="msp_wrapper">
                                Mã Sản Phẩm :
                                <span class="msp">N/A</span>
                            </span>

                        </div>
                        <div class="product_meta_address">
                            <span class="msp_wrapper">
                                Thương hiệu:
                                <a href="" class="link_TH">Vinbike</a>
                            </span>
                        </div>
                        <div class="product_meta_address">
                            <span class="msp_wrapper">
                                Nhóm sản phẩm:
                                <a href="" class="link_TH">Xe đạp nữ, Xe đạp thể thao đường phố,</a>
                            </span>
                        </div>
                        <div class="product_meta_address">
                            <span style="color: rgb(8, 110, 44); font-weight: 600;" class="msp_wrapper">
                                Còn hàng
                            </span>
                        </div>

                        <div style="margin-bottom: 50px;" class="quantity">
                            <input type="button" value="-" class="minus button is-form">
                            <label class="screen-reader-text" for="quantity_6635973865498">Xe Đạp Đường Phố Touring
                                VINBIKE Eva - Bánh 26 Inches quantity</label>
                            <input type="number" id="quantity_6635973865498" class="input-text qty text hiden" step="1"
                                min="1" max="58" name="quantity" value="1" title="Qty" size="4" inputmode="numeric">
                            <input type="button" value="+" class="plus button is-form">
                            <button type="submit" class="single_add_to_cart_button button alt">THÊM VÀO GIỎ
                                HÀNG</button>
                        </div>

                        <div class="product_sale_bicycle">
                            <div class="address_sale_product">
                                <div class="title"><span>KHUYẾN MÃI XE ĐẠP ONLINE</span></div>
                                <div class="content">
                                    <ul>
                                        <li>Miễn phí ship giao hàng khi mua xe đạp, không áp dụng với các sản phẩm đang
                                            có khuyến mãi từ 50%</li>
                                        <li>Giảm 10% đối với đơn hàng phụ kiện từ 3 món</li>
                                        <li>Giảm 15% đối với đơn hàng phụ kiện từ 5 món</li>
                                    </ul>
                                    <p>Lưu ý: không áp dụng đồng thời các Chương trình Khuyến mãi khác</p>
                                </div>
                            </div>

                        </div>
                        <button style="width: 100%; margin: 10px 0 10px 0;" type="submit"
                            class="single_add_to_cart_button button alt">MUA NGAY</button>

                    </div>

                </div>

                <div class="address_products">
                    <div class="address">
                        <table class="bike_specifications">
                            <tbody>
                                <tr>
                                    <td class="title_product" colspan="2">
                                        <h1>THÔNG SỐ KỸ THUẬT</h1>
                                    </td>
                                </tr>

                                <tr class="address_col col1">
                                    <th>Kích Cỡ/Sizes</th>
                                    <td>One size (20″)</td>
                                </tr>

                                <tr class="address_col col2">
                                    <th>Màu sắc/Colors</th>
                                    <td>Black Blue, White Golden</td>
                                </tr>

                                <tr class="address_col col3">
                                    <th>Chất liệu khung/Frame</th>
                                    <td>TRINX Alloy 6061 Folding</td>
                                </tr>

                                <tr class="address_col col4">
                                    <th>Giảm xóc/Shock</th>
                                    <td>N/A</td>
                                </tr>

                                <tr class="address_col col5">
                                    <th>Vành xe/Rims</th>
                                    <td>TRINX Alloy Double Wall</td>
                                </tr>

                                <tr class="address_col col6">
                                    <th>Đùm/Hubs</th>
                                    <td>Steel</td>
                                </tr>
                                <tr class="address_col col7">
                                    <th>Căm/Spokes</th>
                                    <td>N/A</td>
                                </tr>

                                <tr class="address_col col8">
                                    <th>Lốp xe/Tires</th>
                                    <td>20*1.75″</td>
                                </tr>

                                <tr class="address_col col9">
                                    <th>Ghi đông/Handlebar</th>
                                    <td>TRINX Alloy T-Shape</td>
                                </tr>

                                <tr class="address_col colend">
                                    <th>Bàn đạp/Pedals</th>
                                    <td>Platform</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <div class="bicycle_main_address">

            </div>
        </div>


    </div>
    <div class="grid">
        <div style="margin-top: 50px;" class="product-footers">
            <div class="container">
                <div class="woocommerce-tabs wc-tabs-wrapper container tabbed-content">
                    <ul class="tabs wc-tabs product-tabs small-nav-collapse nav nav-uppercase nav-line nav-left"
                        role="tablist">
                        <li class="description_tab active" id="tab-title-description" role="tab"
                            aria-controls="tab-description">
                            <a href="#tab-description" class="active">MÔ TẢ SẢN PHẨM</a>
                        </li>
                        <li class="video_tab" id="tab-title-video" role="tab" aria-controls="tab-video">
                            <a href="#tab-video">Video</a>
                        </li>
                        <li class="binh_luan_tab" id="tab-title-binh_luan" role="tab" aria-controls="tab-binh_luan">
                            <a href="#tab-binh_luan">Bình luận</a>
                        </li>
                        <li class="danh_gia_tab" id="tab-title-danh_gia" role="tab" aria-controls="tab-danh_gia">
                            <a href="#tab-danh_gia">Đánh giá</a>
                        </li>
                        <li class="size_tab" id="tab-title-size" role="tab" aria-controls="tab-size">
                            <a href="#tab-size">Chọn kích cỡ</a>
                        </li>
                        <li class="thong-tin-san-pham_tab" id="tab-title-thong-tin-san-pham" role="tab"
                            aria-controls="tab-thong-tin-san-pham">
                            <a href="#tab-thong-tin-san-pham">Thông Tin Sản Phẩm</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="padding-bottom: 200px;" id="product-description">
            <div class="description">
                <p class="pro-description">Xe đạp Fixed Gear VINBIKE Maximus – một tác phẩm xuất sắc từ VINBIKE, là sự
                    hợp nhất hoàn hảo giữa tính nghệ thuật, sức mạnh mẽ và ổn định. Lấy cảm hứng từ chiến binh thần
                    thoại Hy Lạp Maximus, chiếc xe là một biểu tượng của sự dũng mãnh và cao cấp. Dưới đây là các chi
                    tiết nổi bật về VINBIKE Maximus, một tuyệt phẩm dành cho những ai yêu thích sự khác biệt và cá tính.
                </p>
                <h1 style="font-size: 20px;margin-right: auto; font-weight: bold;">THIẾT KẾ CAO CẤP VÀ KHUNG NHÔM NHẸ
                </h1>
                <p class="pro-description">VINBIKE Maximus được thiết kế tỉ mỉ để đảm bảo tính thẩm mỹ cao và hiệu suất
                    xuất sắc:<br><strong style="color: rgb(153, 144, 144);">Khung Nhôm Nhẹ Nhàng:</strong>Sử dụng vật
                    liệu nhôm cao cấp, khung xe được chế tác để đảm bảo độ nhẹ và bền bỉ. Cấu trúc này giúp giảm thiểu
                    trọng lượng tổng thể, mang lại khả năng tăng tốc ấn tượng cũng như dễ dàng kiếm soát khi di chuyển
                    qua các đoạn đường phức tạp<br><strong style="color: rgb(153, 144, 144);">Thiết Kế Ấn
                        Tượng:</strong>Mỗi chi tiết trên xe đều được thiết kế để phản ánh sức mạnh và tính năng động. Từ
                    hình dạng khung đến các chi tiết nhỏ trên xe đều toát lên vẻ đẹp mạnh mẽ và thanh lịch của một chiến
                    binh thực thụ.</p>
                <h1 style="font-size: 20px;margin-right: auto; font-weight: bold;">BỘ TRUYỀN ĐỒNG Fixed Gear Cao Cấp
                </h1>
                <p class="pro-description"><strong style="color:rgb(153, 144, 144) ;">Vận Hành Êm Ái:</strong>Bộ truyền
                    động fixed gear cao cấp giúp xe vận hành mượt mà và ổn định. Điều này làm nổi bật khả năng xử lý
                    linh hoạt và phản ứng nhanh giúp người lái có thể dễ dàng điều khiển và thực hiện các kỹ thuật như
                    skid một cách đẳng cấp.<br><strong style="color:rgb(153, 144, 144) ;">Hiệu Suất Cao:</strong>Nhờ vào
                    việc sử dụng các bộ phận cao cấp, VINBIKE Maximus tối đa hóa sự định khi vận hành, cho phép người
                    dùng tận hưởng mỗi chuyến đi mà không bị ảnh hưởng bởi những lỗi nhỏ không đáng có hay gặp ở những
                    chiếc fixed gear thông thường.</p>
                <h1 style="font-size: 20px;margin-right: auto; font-weight: bold;">Thiết Kế Tối Giản Và Thời Thượng</h1>
                <p class="pro-description"><strong style="color:rgb(153, 144, 144);">Phong Cách Tối Giản:</strong>Đúng
                    với xu hướng hiện đại, VINBIKE Maximus đem lại sự tối giản trong thiết kế nhưng không kém phần tinh
                    tế và sang trọng. Điều này không chỉ giúp nâng cao tính thẩm mỹ mà còn mang lại khả năng cá nhân hóa
                    cho người sở hữu.<br><strong style="color:rgb(153, 144, 144);">Cá Tính Của Bạn:</strong>VINBIKE
                    Maximus không chỉ là một chiếc fixed thông thường, mà còn là biểu tượng của phong cách cá nhân và sự
                    tự do. Với khả năng cá nhân hóa cao, người chơi có thể tạo ra một chiếc xe thể hiện đúng cá tính, từ
                    đa dạng màu sắc cho đến việc dễ dang phối thêm các phụ kiện, tạo nên một phong cách độc đáo và thu
                    hút.</p>
            </div>
        </div>
        <div id="product-video">
        </div>

        <div id="product-comments">
        </div>

        <div id="product-reviews">
        </div>
        <div id="user-info">
        </div>
    </div>

    <script src="~/js/slider_bicycle.js"></script>
</body>
