@{
    ViewData["Title"] = "Sale Page";
}

<body>
    <div style="  background-color: #1b6ec2;;" class="sliders">
        <div class="slider">
            <div class="list">
                <div class="item">
                    <img src="/images/img/banner/BANNER-COVER-ZALO-CT-Tong-CTKM-T4_Banner-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/Banner-Sua-xe-tai-nha-01-1-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/banner-xe-duong-pho-fix-2023-copy-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/BANNER-COVER-ZALO-CT-Tong-CTKM-T4_Banner-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/banner-xe-tre-em-fix-2023-copy-scaled.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div style="padding-bottom: 100px;" id="wrapper" class="content_sale">
        <div class="grid">
            <div class="product_main product_main_sale">
                <!--gio vang gia soc-->
                <div class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: translate(130%, -100%);">
                        <span>
                            GIỜ VÀNG GIÁ SỐC
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap6.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale3.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap7.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap8.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="buttons">
                                    <button class="prev"></button>
                                    <button class="next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-bottom: 50px;" class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
                <!--giamgiacaonhat-->
                <div class="collect">
                    <h1 style="transform: translate(130%, -100%);">
                        <span>
                            GIẢM GIÁ CAO NHẤT
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap6.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale3.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap7.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap8.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="buttons">
                                    <button class="prev"></button>
                                    <button class="next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
                <!--xedapdiahinhkhuyenmai-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE ĐỊA HÌNH KHUYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap6.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale3.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap7.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap8.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="buttons">
                                    <button class="prev"></button>
                                    <button class="next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapxeem-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE TRẺ EM KHUYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap6.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale3.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap7.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap8.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="buttons">
                                    <button class="prev"></button>
                                    <button class="next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapduongpho-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE ĐƯỜNG PHỐ KHUYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap6.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item item-sale" style="display: flex;">
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedapsale/sale3.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>

                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap7.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class=" tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap8.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="tst-sale">
                                        <div class="product-top">
                                            <a href="" class="BH">
                                                <img src="/images/img/xedap/xedap9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <a class="product-name">
                                                <span>Xe Đạp Trẻ Em Youth MAX BIKE Mikki 14 – Bánh 14 Inches </span>
                                            </a>
                                            <div class="product-price product-price-sale">3.190.000VND</div>
                                            <div class="product-price"><strong>2.290.000 VND</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="buttons">
                                    <button class="prev"></button>
                                    <button class="next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <script src="~/js/slider.js"asp-append-version="true"></script>
    <script src="~/js/slider_product.js"asp-append-version="true"></script>
</body>