@using App.Components
@{
    ViewData["Title"] = "Service Shop";
}

@{

    List<Category> categories = ViewBag.category as List<Category>;
    List<Brand> brands = ViewBag.brands as List<Brand>;
}

@section Popup {
    @await Component.InvokeAsync(CategorySideBar.COMPONENTNAME,
        new CategorySideBar.CategorySideBarData()
{
    level = 0,
    Categories = ViewBag.categories,
    slugCategory = ViewBag.categoryslug,
    brands = ViewBag.brands,
    slugBrand = ViewBag.brandslug
})

}

<body>
    <div style="padding-bottom: 200px;" class="content_dichvu">
        <img src="/images/img/DichVu/baoduong.jpg" alt="">
        <div class="grid">
            <div class="service">
                <p class="service-description">Ngày nay việc tìm 1 cửa hàng sửa chữa xe đạp không phải dễ dàng . Là
                    chuổi cửa hàng bán lẻ xe đạp lớn nhất cả nước, XEDAP.VN với đội ngũ kỹ thuật lâu năm, nhiều kinh
                    nghiệm, hiện cung cấp tất cả(Full) dịch vụ dành cho xe đạp, đặc biệt các dòng xe đạp thể thao . Bảo
                    dưỡng bảo trì xe đạp, Lắp ráp, Build xe mới, sửa chữa, thay thế, nâng cấp phụ tùng xe đạp. </p>
                <p class="service-description">Quý khách có nhu cầu sử dụng một trong các dịch vụ trên vui lòng liên hệ
                    và mang xe đến các Showroom trực thuộc tại Hồ Chí Minh, Hà Nội, Đà Nẵng, Bình Dương, Đồng Nai,Tây
                    Ninh,Bà Rịa, Bình Định, Quảng Ngãi, Quảng Nam với hơn 50 cửa hàng</p>
                <p class="service-description">Dịch vụ sửa xe tận nhà phục vụ tận nhà cho khách hàng từ Thứ 2 đến Chủ
                    nhật<br>Liên hệ ngay hotline: 18009473 ( 8h30 – 17h30 )</p>
                <h1 style="font-size: 20px; font-weight: bold; text-align: center;">BẢNG GIÁ FULL GÓI DỊCH VỤ</h1>
                <p class="service-description">​Tùy vào hiện trạng chiếc xe đạp của Quý khách như thế nào để chọn Gói
                    bảo dưỡng xe đạp thích hợp, Khi mang tới shop hoặc liên hệ dịch vụ sửa xe tận nhà sẽ có nhân viên kỹ
                    thuật tư vấn cụ thể, dưới đây là bảng chi tiết các gói bảo dưỡng, chăm sóc xe đạp, Quý khách tham
                    khảo để chọn gói phù hợp.</p>
                <img src="https://xedap.vn/wp-content/uploads/2024/04/BA%CC%89NG-GIA%CC%81-DI%CC%A3CH-VU%CC%A3-SERVICE-01-01-scaled.jpg"
                    alt="BẢNG GIÁ DỊCH VỤ" width="1400" height="1500">
                <p class="service-description"><span
                        style="text-decoration: underline;font-weight: bold;font-size: 20px; color: red;">Một số lưu ý:
                    </span></p>
                <p class="service-description">1. Nếu Quý khách không thể mang xe tận shop để thực hiện bảo dưỡng sửa
                    chữa, Xedap.vn sẽ gọi dịch vụ SỬA CHỮA TẬN NHÀ phí dịch vụ chỉ 50.000VNĐ ( chưa tính phí sửa chữa
                    của xe đạp). Chi phí cụ thể sẽ được Xedap.vn thông báo trước<br>2. Giá dịch vụ trên là tiền công
                    thực hiện, chưa bao gồm VAT và các chi phí liên quan khác.</p>
            </div>
        </div>
    </div>
</body>