@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}


<body>
    <div style="padding-top: 50px; padding-bottom: 100px;" class="grid">
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            <h4>Nhập thông tin để đổi mật khẩu</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="width: 50%;" class="mk">
                <div class="form-group">
                    <label asp-for="OldPassword" style="padding: 10px 0;" class=" control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" style="padding: 10px 0;" class="col-md-10 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" style="padding: 10px 0;" class="col-md-10 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div style="padding-top: 20px;" class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
                </div>
            </div>
        </form>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
