@model VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Xác nhận số điện thoại";
}


<body>
    <div style="padding-top: 50px;" class="grid">
        <form asp-controller="Manage" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]"
            method="post" class="form-horizontal" role="form">
            <input asp-for="PhoneNumber" type="hidden" />
            <h4>Thêm số điện thoại.</h4>
            <h5>@ViewData["Status"]</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="width: 50%;">
                <div class="form-group">
                    <label style="padding: 10px 0;" asp-for="Code" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div style="display: flex; padding: 10px 0;" class="form-group">
                    <div style="margin-right: 20px;" class="col-md-offset-2">
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </div>
                    <div class="col-md-offset-2">
                        <button type="submit" class="btn btn-primary">Gửi Lại mã</button>
                    </div>
                </div>
            </div>
        </form>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</body>
