
.none_product{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
}
.none_product h3{
    font-size: 16px;
    line-height: 1.6;
    color: rgb(161, 161, 161);
    padding-bottom: 20px;
}
.none_product a{
    width: auto;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    background-color: #446084;
}

.none_product a span{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}
.product_cart_shops{
    width: 100%;
    display: flex;
    z-index: 1;
}
.cart_products{
    width: 100%;
    padding-bottom: 50px;
    
}

.cart_products .address_cart_product{
    border-bottom: 1px solid black;
    width: 100%;
    
}


.product_cart_buy td,
.product_cart td{
    width: 15%;
    text-align: center;
}


.product_cart_buy .product_img img{
    width: 150px;
    height: 150px;
}

.address_cart_product .text,
.product_cart_buy .text{
    text-align: center;
}

.delete-button {
    background-color: #dadada; /* Màu nền */
    color: #ff0303; /* Màu chữ */
    border: none; /* Không có đường viền */
    padding: 10px 20px; /* Kích thước nút */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Con trỏ khi di chuột vào */
    font-size: 16px; /* Kích thước chữ */
}

.delete-button:hover {
    background-color: #cc0000; /* Màu nền khi di chuột vào */
    color: #fff;
}

.orn{
    width:100% ;
    height: 2px;
    background-color: #000;
}

.button_home {
    text-align: center;
    font-size: 20px;
    padding-top: 16px;
    color: rgb(80, 80, 169);
    cursor: pointer; 
}

.button_home i{
    margin-left: 50px;
}


.tooltip{
    font-size: 13px;
    font-weight: 600;
}

.cart_products_total{
    display: flex;
}
.cart_product_buy{
    border-bottom: 1px solid;
    width: 100%;
    padding-bottom: 5px;
}
.product_cart_buys th{
    
    font-size: 16px;
    width: 50%;
    font-weight: bolder;
}

.product_cart_buys td{
    width: 50%;
    text-align: right;
}   

.total{
    margin-top: 20px;
}
.check{
    border: none;
}
.cart_product_buy .title_product{
    margin: 0;
    width: 100%;
    background-color: red;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.product_quantity .quantity{
    text-align: center;
    
}