body {
    font-family: "Roboto", sans-serif;
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.product-footer .woocommerce-tabs {
    padding: 30px 0;
    border-top: 1px solid #ececec;
}

.tabbed-content {
    display: flex;
    flex-flow: row wrap;
}

.container-width, .full-width .ubermenu-nav, .container, .row {
    max-width: 1080px;
}

.single-product .product-footer .woocommerce-tabs>.nav-line-grow,
.single-product .product-footer .woocommerce-tabs>.nav-line:not(.nav-vertical) {
    border: 0;
    display: block;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: -31px;
}

.tabbed-content .tabbed-nav, .tabbed-content .tab-panels {
    width: 100%;
}

.tabs {
    cursor: pointer;
}

.nav-left {
    justify-content: flex-start;
}

.tabbed-nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tabbed-nav ul:not(.nav-dropdown) {
    margin: 0;
    padding: 0;
}

.pre, .blockquote, .form, .figure, .p, .dl, .tabbed-ul, .tabbed-ol {
    margin-bottom: 1.3em;
}

.tabbed-ol, .tabbed-ul {
    margin-top: 0;
    padding: 0;
}

.tabbed-ul {
    list-style: disc;
    display: block;
    margin: 1em 0;
    padding-inline-start: 40px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.single-product .tabs li {
    display: inline-block;
    line-height: 36px;
    text-align: center;
    width: auto;
}

.tabbed-nav li:first-child {
    margin-left: 0 !important;
}

.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tabbed-nav>li {
    display: inline-block;
    list-style: none;
    margin: 0 7px;
    padding: 0;
    position: relative;
    transition: background-color .3s;
}

.tabbed-li {
    margin-bottom: .6em;
    font-size: 16px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#tab-title-description a {
    color: #332ff8;
    font-size: 1.25em;
    padding-bottom: 0;
    padding-top: 15px;
}

.single-product .tabs li.active a {
    opacity: 1;
}

.single-product .tabs li a {
    font-size: 13px !important;
    padding-right: 10px !important;
}

.tabbed-nav>li>a:hover, .tabbed-nav>li.active>a, .tabbed-nav>li.current>a, .tabbed-nav>li>a.active, .tabbed-nav>li>a.current, .nav-dropdown li.active>a, .nav-column li.active>a, .nav-dropdown>li>a:hover, .nav-column li>a:hover {
    color: rgba(17, 17, 17, .85);
}

.tabs a.active {
    color: #142ff7 !important;
    font-weight: 700;
    opacity: 1;
}

.tabs a:hover {
    opacity: 1;
}

.tabbed-nav>li>a {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: .8em;
}

.nav-uppercase>li>a {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: bolder;
}

.tabbed-nav>li>a, .nav-dropdown>li>a, .nav-column>li>a {
    color: rgba(102, 102, 102, .85);
    transition: all .2s;
    padding: 10px 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.tabs a {
    box-sizing: border-box;
    color: #142ff7 !important;
    display: block;
    font-weight: 700;
    margin-bottom: -2px;
    margin-right: 4px;
    opacity: .3;
    padding: 8px 15px !important;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.single-product .tabs li.active a:before {
    width: 100% !important;
}

.woocommerce-tabs .nav-line>li>a:before {
    display: none;
}

.nav-line-bottom>li:hover>a:before, .nav-line-grow>li:hover>a:before, .nav-line-bottom>li.active>a:before, .nav-line-grow>li.active>a:before, .nav-line>li.active>a:before, .nav-line>li:hover>a:before {
    opacity: 1;
}

.tabs a:hover:before, .tabs a.active:hover:before, .tabs a.active:before {
    width: 100% !important;
}

.nav-line-bottom>li>a:before, .nav-line-grow>li>a:before, .nav-line>li>a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #446084;
    transition: all .3s;
    opacity: 0;
    height: 3px;
}

.tabs a:before {
    background-color: #142ff7 !important;
    content: '';
    display: block !important;
    height: 2px !important;
    left: 0;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 0 !important;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #332ff8;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.description {
    text-align: justify;
    margin-bottom: 20px; 
    line-height: 1.6;
}

.pro-description {
    margin-bottom: 10px;
}

#product-description {
    font-size: 18px;
    color: #333;
    margin: 20px;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

#product-size {
    font-size: 18px;
    color: #333;
    margin: 20px;
    display: none;
}

h1 {
    font-size: 24px; 
    margin-bottom: 10px; 
}
