.content_sale{
    height: 100%;
}

.collect.collect_sale_giovanggiasoc{
    margin-top: 10%;
}

.collect-more_product.collect-more_product_sale{
    margin: 0 0 5% 0;
}

.product-price-sale{
    color: rgb(138, 138, 138);
    text-decoration: line-through;
}

