.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 20px;
  /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial;
  background-color: #52f5f5;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
}

input {
  margin: 10px 0 10px 0;
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  width: 300px;
  transition: border 0.5s;
  display: flex;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

.btn {
  padding: 0.8em 1.8em;
  border-radius: 8px;
  background-color: transparent;
  color: #17c3b2;
  border: 2px solid #17c3b2;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.btn::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  z-index: -1;
  background-color: #17c3b2;
}

.btn:hover::before {
  width: 105%;
}

.btn:hover {
  color: #111;
}